/* Add slight margin, rounding and outline to Browser pane */
#tabbrowser-tabbox browser {
   --border-size: 0.5px;
   --margin-size-top-left: 2px;
   --margin-size-bottom-right: 6px;
   --rounding-size: 8px;

   border: var(--border-size) solid rgba(255,255,255,0.15);
   margin: var(--margin-size-top-left) var(--margin-size-bottom-right) var(--margin-size-bottom-right) var(--margin-size-top-left);
   border-radius: var(--rounding-size);
}

.browserContainer {
   background: var(--toolbox-bgcolor);

   &:-moz-window-inactive {
      background: var(--toolbox-bgcolor-inactive);
   }
}
