#navigator-toolbox {
    opacity: 0;
    margin-top: -38px;
    
    z-index: 6 !important;
    
    position: relative;
    top: 0px;
    
    transition: all 0.25s, background-color var(--inactive-window-transition) !important;

    & * {
        opacity: 0;
        transition: opacity 0.25s !important;
    }
}

#navigator-toolbox:hover, #navigator-toolbox:active, #navigator-toolbox:focus, #navigator-toolbox:focus-within {
    opacity: 1;
    top: 38px;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    & * {
        opacity: 1;
    }
}